# Project 2: Data Import - Working with Web APIs and JSON (Movies Dataset)

In [1]:
import pandas as pd
import requests
from getpass import getpass
pd.options.display.max_columns = 30

## API Key

In [2]:
read_API_file = True

if read_API_file:
    df_apis = pd.read_csv('../API_keys.csv').set_index('API')
    api_key = 'api_key='+df_apis.loc['TMDB','Key']
else:
    api_key = 'api_key='+getpass("Put you API key here: ");

## Requesting movie by code

In [9]:
movie_id = 140607
movie_api = 'https://api.themoviedb.org/3/movie/{}?'
url = movie_api.format(movie_id) + api_key
data = requests.get(url).json()
pd.Series(data).to_frame().T

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,37.817,/9rd002JS49RwDW944fF1wjU8iTV.jpg,"[{'id': 1634, 'logo_path': None, 'name': 'True...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.4,14582

## Working with queries on APIs

In [11]:
discover_api = 'https://api.themoviedb.org/3/discover/movie?'

# gte: greater than equal
# lte: less than equal
query = '&primary_release_date.gte=2020-01-01&primary_release_date.lte=2020-02-29&page=2'

url = discover_api+api_key+query
data = requests.get(url).json()
df = pd.DataFrame(data['results'])
df

,popularity,vote_count,video,poster_path,id,adult,backdrop_path,original_language,original_title,genre_ids,title,vote_average,overview,release_date
0,17.983,110,False,/6agXZJo5sMA837eM1hu2rqzG58c.jpg,520725,False,/lI81PeOM5XBAPQF06hcl7TOgGwl.jpg,fr,Le prince oubli√©,"[12, 35, 14]",The Forgotten Prince,5.3,"Djibi lives alone with Sofia, his 8-year-old d...",2020-02-12
1,23.261,162,False,/spTr0VYyRtl36Lkk6nCnnbFXhus.jpg,466622,False,/a7685JYpZ6rmgkbFD3UVV5vNuhx.jpg,en,The Rhythm Section,"[28, 53]",The Rhythm Section,5.5,After the death of her family in an airplane c...,2020-01-31
2,19.373,14,False,/uGILkFnRrpdiNtDaHeekGZSn5o5.jpg,591237,False,/6B4USIsKWrJmiaVgEYYHqce1SmK.jpg,en,Bulletproof 2,"[28, 35]",Bulletproof 2,6.6,Special Agent Jack Carter reluctantly assumes ...,2020-01-07
3,20.508,555,False,/vN7JHlHOT9rHNDU27tfYqhABBj5.jpg,465086,False,/46a1JNGmCSfoimlxtuxeDquuQ37.jpg,en,The Grudge,"[27, 9648]",The Grudge,5.7,After a young mother murders her family in her...,2020-01-02
4,14.192,160,False,/tABtj9BwYVDCM69h7AK38MDgw64.jpg,653744,False,/a2UDJvvyDANSKcBRtEDLExVK0Pg.jpg,en,Sergio,[18],Sergio,6.8,A sweeping drama set in the chaotic aftermath ...,2020-01-28
5,23.197,8,False,/w9k8VvbO7vcFM6NgtgNRNwVmifl.jpg,590009,False,/eOGztSGUmqJyXhUawMnjQyb7ijv.jpg,en,Funhouse,[27],Funhouse,4.7,When 8 celebrities from around the globe are i...,2020-02-13
6,18.338,1241,False,/maib5VlmEqp5xlN8lptnBSftp2o.jpg,565426,False,/9LsJP9OuIBmBUxZpmVKtUUjF0PA.jpg,en,To All the Boys: P.S. I Still Love You,"[35, 10749]",To All the Boys: P.S. I Still Love You,6.9,Lara Jean and Peter have just taken their roma...,2020-02-12
7,21.441,334,False,/uiMHiHp9eAjJty8rddoUnL9G5fU.jpg,492611,False,/lYJDf7oa1r9JvRITN1M2Lzis01D.jpg,en,The Turning,"[27, 53]",The Turning,5.9,A young woman quits her teaching job to be a p...,2020-01-23
8,24.727,51,False,/mNY64qIMf7LokrqdEsAKmwNq6t6.jpg,451184,False,/hwxAXctrOLxQDKEuBNB41JrP5v9.jpg,en,Wasp Network,"[18, 36, 53]",Wasp Network,6.8,"Havana, Cuba, 1990. Ren√© Gonz√°lez, an airplane...",2020-01-29
9,17.922,224,False,/gItrnbEbMBbUrdIkFz8kgS2gkt.jpg,505225,False,/lsgYcIbcoQeDZXsHYMOnkvk3sn0.jpg,en,The Last Thing He Wanted,"[18, 53]",The Last Thing He Wanted,4.9,At the turning point of the Iran-Contra affair...,2020-02-14
10,19.794,461,False,/mBBBXseq4k4dI63k06XIrsc02j8.jpg,542224,False,/jEPEVO48hKQB0EUNFQOSv6qtKNW.jpg,en,Gretel & Hansel,"[14, 27, 53]",Gretel & Hansel,6.4,A long time ago in a distant fairy tale countr...,2020-01-30
11,18.950,272,False,/ifn7yLH7W69MdrEEkNzCyO8rTmL.jpg,526019,False,/wMv7GL12s0bJmfv3ckdglOCQ8B3.jpg,en,Like a Boss,[35],Like a Boss,6.5,Two female friends with very different ideals ...,2020-01-09
12,23.010,291,False,/vkwgzCBBiY3C1XEy0WakYfMOvnG.jpg,548473,False,/iyn2JQsftaqhQlXYaCCvn8udM5i.jpg,en,Color Out of Space,"[27, 878]",Color Out of Space,6.2,The Gardner family moves to a remote farmstead...,2020-01-24
13,17.457,483,False,/bZ7H0kCwEM6CQ0dyCs2H4RkU130.jpg,658760,False,/2EOy2YSJbzKvlzKpEEKULVYZGlN.jpg,de,Isi & Ossi,"[35, 10749]",Isi & Ossi,6.9,Isi and Ossi couldn't be any more different: S...,2020-02-14
14,15.811,350,False,/FVU9HZ87VfYMe5vIJvM3hFTG5i.jpg,618355,False,/uehwVV9xuALZ2SXeHGiX4Ay5dR7.jpg,en,Superman: Red Son,"[28, 16, 878]",Superman: Red Son,7.4,"Set in the thick of the Cold War, Red Son intr...",2020-02-24
15,13.050,207,False,/sIPNjDEf1iXOqULOXiRhqprllbz.jpg,674607,False,/9gXOA57zkxDko4yEE6vjFF538Xn.jpg,fr,Jusqu'au d√©clin,"[28, 12, 53]",The Decline,6.3,"Anticipating a disaster, Antoine, a father, at...",2020-02-27
16,18.501,69,False,/bMG8c80lyEkBXVgyHVqsdQhjgf6.jpg,442065,False,/eZwwJ5yRpMDhZzfMS7XeWwUzLSE.jpg,en,The Last Full Measure,"[18, 10752]",The Last Full Measure,7.7,The incredible true story of Vietnam War hero ...,2020-01-23
17,13.908,92,False,/frTwEqSMWQ27oQeuiBO5PT0ZNqq.jpg,599521,False,/k7cXsQmpjm9MvftSWhHsXV5gLRN.jpg,es,Z-O-M-B-I-E-S 2,"[10402, 10749, 10770]",Z-O-M-B-I-E-S 2,8.6,"Zed and Addison are back at Seabrook High, whe...",2020-02-14
18,14.002,249,False,/xdKJ6LdA65RFxjNYIL8fV89Tv0d.jpg,609242,False,/vFynk2y1bWizGU8ABXQfbiEX0vj.jpg,es,El robo del siglo,"[35, 80, 18, 53]",The Heist of the Century,7.9,"In 2006, a group of thieves performed what is ...",2020-01-16
19,10.747,237,False,/fvF0TA9nCsme5jKpGkukf3BPJfq.jpg,653567,False,/A7AjlQTR1UlaNSYwwPRQ5gQTHyf.jpg,en,Miss Americana,[99],Miss Americana,7.8,A raw and emotionally revealing look at one of...,2020-01-31

##  Importing and Saving the Movies Dataset (Best Practice)

In [12]:
import pandas as pd
import requests
import json
pd.options.display.max_columns = 30

In [13]:
movie_id = [0, 299534, 19995, 140607, 299536, 597, 135397,
            420818, 24428, 168259, 99861, 284054, 12445,
            181808, 330457, 351286, 109445, 321612, 260513]

In [14]:
basic_url = 'https://api.themoviedb.org/3/movie/{}?{}'

In [15]:
json_list = []
for movie in movie_id:
    url = basic_url.format(movie, api_key)
    r = requests.get(url)
    if r.status_code != 200:
        continue
    else:
        data = r.json()
        json_list.append(data) 

        df = pd.DataFrame(json_list)

In [16]:
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,en,Avengers: Endgame,After the devastating events of Avengers: Infi...,47.803,/or06FN3Dka5tukK1e9sl16pB3iy.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,2797800564,181,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Part of the journey is the end.,Avengers: Endgame,False,8.3,13719
1,False,/eS8rJ1KzRNBewx9MduiSHM4kr7S.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.avatarmovie.com/,19995,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",36.791,/6EiRUJpuoeQPghrs3YNktfnqOVh.jpg,"[{'id': 444, 'logo_path': '/42UPdZl6B2cFXgNUAS...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-10,2787965087,162,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Enter the World of Pandora.,Avatar,False,7.4,21525
2,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,37.817,/9rd002JS49RwDW944fF1wjU8iTV.jpg,"[{'id': 1634, 'logo_path': None, 'name': 'True...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.4,14582
3,False,/lmZFxXgJE3vgrciwuDib0N8CfQo.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.marvel.com/movies/avengers-infinit...,299536,tt4154756,en,Avengers: Infinity War,As the Avengers and their allies have continue...,84.238,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,2046239637,149,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An entire universe. Once and for all.,Avengers: Infinity War,False,8.3,18571
4,False,/6VmFqApQRyZZzmiGOQq2C92jyvH.jpg,None,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,597,tt0120338,en,Titanic,101-year-old Rose DeWitt Bukater tells the sto...,36.108,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,"[{'id': 4, 'logo_path': '/fycMZt242LVjagMByZOL...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,1845034188,194,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Nothing on Earth could come between them.,Titanic,False,7.8,17151
5,False,/xX0IzuFa1Fj06iU2NlOmeMPe7oS.jpg,"{'id': 328, 'name': 'Jurassic Park Collection'...",150000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.jurassicworld.com/,135397,tt0369610,en,Jurassic World,Twenty-two years after the events of Jurassic ...,27.090,/2c0ajTi8nvrsYl5Oi1lVi6F0kd2.jpg,"[{'id': 56, 'logo_path': '/cEaxANEisCqeEoRvODv...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-06-06,1671713208,124,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The park is open.,Jurassic World,False,6.6,15693
6,False,/nRXO2SnOA75OsWhNhXstHB8ZmI3.jpg,None,260000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",https://movies.disney.com/the-lion-king-2019,420818,tt6105098,en,The Lion King,"Simba idolizes his father, King Mufasa, and ta...",50.591,/2bXbqYdUdNVa8VIWXVfclP2ICtT.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-07-12,1656943394,118,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The King has Returned.,The Lion King,False,7.2,6109
7,False,/kwUQFeFXOOpgloMgZaadhzkbTI4.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://marvel.com/avengers_movie/,24428,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,45.575,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-04-25,1519557910,143,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Some assembly required.,The Avengers,False,7.7,22597
8,False,/ehzI1mVcnHqB58NqPyQwpMqcVoz.jpg,"{'id': 9485, 'name': 'The Fast and the Furious...",190000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://www.furious7.com/,168259,tt2820852,en,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,24.022,/d9jZ2bKZw3ptTuxAyVHA6olPAVs.jpg,"[{'id': 87857, 'logo_path': None, 'name': 'Abu...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-04-01,1515047671,137,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Vengeance Hits Home,Furious 7,False,7.3,7567
9,False,/8i6ZDk97Vyh0jHohMG4vFeFuKJh.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",250000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,tt2395427,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,43.586,/4ssDuvEDkSArWEdyBl2X5EHvYKU.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-04-22,1405403694,141,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A New Age Has Come.,Avengers: Age of Ultron,False,7.3,15994
10,False,/6ELJEzQJ3Y45HczvreC3dg0GV5R.jpg,None,200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://marvel.com/movies/movie/224/black_panther,284054,tt1825683,en,Black Panther,King T'Challa returns home from America to the...,46.000,/uxzzxijgPIY7slzFvMotPv8wjKA.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-02-13,1346739107,134,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Long live the king.,Black Panther,False,7.4,15294
11,False,/n5A7brJCjejceZmHyujwUTVgQNC.jpg,"{'id': 1241, 'name': 'Harry Potter Collection'...",125000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",https://www.warnerbros.com/movies/harry-potter...,12445,tt1201607,en,Harry Potter and the Deathly Hallows: Part 2,"Harry, Ron and Hermione continue their quest t...",49.739,/da22ZBmrDOXOCDRvr8Gic8ldhv4.jpg,"[{'id': 174, 'logo_path': '/IuAlhI9eVC9Z8UQWOI...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2011-07-07,1341511219,130,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It all ends here.,Harry Potter and the Deathly Hallows: Part 2,False,8.1,13890
12,False,/5Iw7zQTHVRBOYpA0V6z0yypOPZh.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",200000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.starwars.com/films/star-wars-episo...,181808,tt2527336,en,Star Wars: The Last Jedi,Rey develops her newly discovered abilities wi...,41.540,/kOVEVeg59E0wsnXmF9nrh6OmWII.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-12-13,1332539889,152,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Darkness rises... and light to meet it,Star Wars: The Last Jedi,False,7.0,10655
13,False,/pNbmSYUtMd542OATplZIdtSWKyz.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",https://movies.disney.com/frozen-2,330457,tt4520988,en,Frozen II,"Elsa, Anna, Kristoff and Olaf head far into th...",62.582,/pjeMs3yqRmFL3giJy4PMXWZTTPa.jpg,"[{'id': 6125, 'logo_path': '/tVPmo07IHhBs4Huil...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-11-20,1330764959,104,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The past is not what it seems.,Frozen II,False,7.3,4987
14,False,/3s9O5af2xWKWR5JzP2iJZpZeQQg.jpg,"{'id': 328, 'name': 'Jurassic Park Collection'...",170000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.jurassicworld.com,351286,tt4881806,en,Jurassic World: Fallen Kingdom,Three years after the demise of Jurassic World...,27.239,/c9XxwwhPHdaImA2f1WEfEsbhaFB.jpg,"[{'id': 56, 'logo_path': '/cEaxANEisCqeEoRvODv...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-06-06,1303459585,129,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The park is gone,Jurassic World: Fallen Kingdom,False,6.5,7686
15,False,/vfkUC9sV1LoReuz1QuTIKTj8XpK.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",http://movies.disney.com/frozen,109445,tt2294629,en,Frozen,Young princess Anna of Arendelle dreams about ...,39.833,/kgwjIb2JDHRhNk13lmSxiClFjVk.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2013-11-27,1274219009,102,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Only the act of true love will thaw a frozen h...,Frozen,False,7.3,11942
16,False,/7QshG75xKCmClghQDU1ta2BTaja.jpg,None,160000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",http://movies.disney.com/beauty-and-the-beast-...,321612,tt2771200,en,Beauty and the Beast,A live-action adaptation of Disney's version o...,33.441,/tWqifoYuwLETmmasnGHO7xBjEtt.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-03-16,1263521126,129,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Be our guest.,Beauty and the Beast,False,6.9,12488
17,False,/mabuNsGJgRuCTuGqjFkWe1xdu19.jpg,"{'id': 468222, 'name': 'The Incredibles Collec...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://movies.disney.com/incredibles-2,260513,tt3606756,en,Incredibles 2,Elastigirl springs into action to save the day...,29.729,/9lFKBtaVIhP7E2Pk0IY1CwTKTMZ.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-06-14,1242805359,118,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Back to work.,Incredibles 2,False,7.5,8538

In [17]:
requests.get(basic_url.format(0, api_key)).status_code

404

In [ ]:
df

In [18]:
df = df.loc[:, ["title", "id", "revenue", "genres", "belongs_to_collection", "runtime"]].sort_values(by = "revenue",
                                                                                                ascending = False)

In [19]:
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",None,134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [20]:
df.to_json("movies.json", orient = "records")

In [21]:
with open("movies.json") as file:
    data = json.load(file)

In [ ]:
pd.json_normalize(data)

In [ ]:
pd.json_normalize(data, "genres", "title")

# Importing and Saving the Movies Dataset (Real World Scenario)

In [ ]:
df

In [22]:
df.to_csv("movies_raw.csv", index = False)

In [23]:
df = pd.read_csv("movies_raw.csv")

In [24]:
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",NaN,129
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [26]:
df.genres[0]

"[{'id': 12, 'name': 'Adventure'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 28, 'name': 'Action'}]"